
@model IEnumerable<OnlineShop.Models.Category>
@{
    var selectCategory = Url.RequestContext.RouteData.Values["id"];
}

<ul class="list-group">
    <a href="/Home/List" class="list-group-item">
        <i class="fa fa-angle-double-right" aria-hidden="true">
        </i>
        All Category
    </a>


    @foreach (var item in Model)
    {
        if (selectCategory != null)
        {
            if (item.Id == int.Parse(selectCategory.ToString()))
            {
                <a href="/Home/List/@item.Id" class="list-group-item active">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>

            }
            else
            {
                <a href="/Home/List/@item.Id" class="list-group-item">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    @item.Name
                </a>

            }
        }
        else
        {
            <a href="/Home/List/@item.Id" class="list-group-item">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                @item.Name
            </a>

        }


    }
</ul>